@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap');

body {
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
}


/* Custom Scrollbar for Chrome, Edge, and Safari */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #020617; /* slate-950 */
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #22d3ee, #2563eb); /* cyan to blue */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #22d3ee;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
}
